@model IEnumerable<TweetDotNet.Models.TweetBlog>

    @{
        ViewData["Title"] = "AdvancedTopics";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Advanced Topics</h2>

    @if (User.IsInRole(ApplicationRoles.Admin))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @if (User.IsInRole(ApplicationRoles.Admin))
                        {

                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <text> | </text>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <text> | </text>
                        }

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
